* {
    box-sizing: border-box;
    margin: 0;
}

body, a{
    font-family: 'Courier New', Courier, monospace;
    color: #38302e;
}

header{
    background-color: #E2B6CF;

}

.wrap {
    margin: 0 auto;
    padding: 1rem 1rem;
}   

.header--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--signedin li {
    text-align: right;
    display: inline;
    margin-left: 1rem;
    font-weight: bold;
}
.header--signedout li {
    display: inline-block;
    margin-left: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.login {
    background-color: #38302e;
    padding: 2em;
    border-radius: 1em;
    text-align: center;
}

.login h1 {
    color: #ffe4f3;
}

input {
    padding: 1em 2em 1em 0.5em;
    display: block;
    margin-top: 2em;
    border: none;
    border-bottom: 5px solid #ffe4f3;
    background-color: inherit;
    color: #ffe4f3;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;

}

input::placeholder{
    color:#ffe4f3;
}

.button {
    padding: 1em;
    display: block;
    width: 100%;
    margin-top: 2em;
    background-color: #ffe4f3;
    border: none;
    border-radius: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;

}

.button:hover{
    background-color: #38302e;
    border: 3px solid #E2B6CF;
    color: #E2B6CF;
}

/* .button:last-of-type{
    background-color: #788585;
    color: white;
} */





